.wrapper {
  display: flex;
  align-items: self-start;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.logo {
  animation: moveDownAndFadeIn 2s ease-in-out forwards;
  width: 450px;
  height: 370px;
  margin-top: 1rem;
}
@keyframes moveDownAndFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    height: 250px;
    width: 280px;
    margin-top: 2rem;
  }
}

.button {
  position: absolute;
  top: 500px;
  font-size: x-large;
  z-index: 999;
}
