/* @keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

.logo {
  position: relative;
  height: 23rem;
  width: 26rem;
}

@media screen and (min-width: 320px) {
  .logo {
    margin-top: 2.5rem;
    height: 16rem;
    width: 16rem;
  }
}

@media screen and (min-width: 375px) {
  .logo {
    margin-top: 3rem;
    height: 16rem;
    width: 16rem;
  }
}
@media screen and (min-width: 390px) {
  .logo {
    margin-top: 4rem;
    height: 16rem;
    width: 16rem;
  }
}
@media screen and (min-width: 414px) {
  .logo {
    margin-top: 3.5rem;
    height: 20rem;
    width: 20rem;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    margin-top: 4rem;
    height: 25rem;
    width: 25rem;
  }
  /*   .backgroundOpacity::before {
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;
    background-image: url('/images/projector.webp');
    background-size: 170%;
    background-position: right 75%;
    background-repeat: no-repeat;
    z-index: 1; 
    opacity: 0.7;
  } */
}
@media screen and (min-width: 767px) {
  .logo {
    margin-top: 2rem;
    height: 20rem;
    width: 20rem;
  }
}

@media screen and (min-height: 850px) {
  .logo {
    margin-top: 4rem;
    height: 22rem;
    width: 22rem;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    margin-top: 2.5rem;
    height: 25rem;
    width: 25rem;
  }
}
@media screen and (min-width: 1025px) {
  .logo {
    margin-top: 2.5rem;
    height: 22rem;
    width: 22rem;
  }
}
