.impressum {
  font-family: JosefinSans-light;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.95);

  padding: 2rem 0 2rem 0;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.2);
  background-color: var(#ffffff);
  overflow: scroll;
  line-height: 1.5;
}

@media screen and (max-width: 880px) {
  .impresum {
    font-size: small !important;
  }
}
